.project {
    margin-top: 2em;
    margin-bottom: 2em;

    padding: 0.5em 0.5em 0.5em 1.5em;
    border-left: 2px solid #ad280b;

    overflow: hidden;
}

/* ---- Images ---- */

img {
    max-height: 12em;
    max-width: 50%;

    float: right;
    vertical-align: middle;
    padding-left: 1em;
}

/* ---- Description ---- */

h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

p {
    overflow: hidden;
    margin-bottom: 0;
}

.metadata {
    margin-top: 0;
    padding-top: 0;

    font-family: "Bitter";
    font-size: 0.8em;
}

/* ---- Icons ---- */

i {
    color: #555555;
    font-size: 0.1em;
}

i:hover {
    color: #ad280b;
}

/* ---- Responsive Design ---- */

/* Smartphones */
@media (max-width: 750px) {
    .img {
        max-height: 8em;
        max-width: 8em;
    }
}
