<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" href="../../static/css/layout.css" />
      <link rel="stylesheed" href="https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" type="text/css" />
      <meta charset="utf-8" />
      <title>Bienvenue ! - NapNac</title>
   </head>

   <body>
      <header>
         <a href="accueil.html">
            <img src="../../static/img/logo.png" alt="Logo du site">
         </a>

      </header>
      
      <nav>
         <ul id="main_menu">
            <li><a href="accueil.html">Accueil</a></li>
            <li><a href="articles.html">Articles</a></li>
            <li><a href="projets.html">Projets</a></li>
            <li><a href="a_propos.html">A propos</a></li>
         </ul>
      </nav>

      <!-- Page/Article -->

<h1 id="bienvenue">Bienvenue !</h1>
<p>Bonjour et bienvenue sur mon site ! :)</p>
<h2 id="qui-suis-je">Qui suis-je ?</h2>
<p>Je m'appelle Thibault, et je suis un jeune passionn&#233; d'informatique, de programmation et d'algorithme. Je programme en C principalement et j'&#233;cris des articles r&#233;guli&#232;rement.</p>
<h2 id="quel-est-le-type-de-contenu-que-lon-peut-retrouver-sur-ce-site">Quel est le type de contenu que l'on peut retrouver sur ce site ?</h2>
<p>Vous retrouverez des articles divers concernant :</p>
<ul>
<li><strong>Les algorithmes</strong> : Je vous pr&#233;sente un algorithme (sur diff&#233;rents th&#232;mes comme le tri, la recherche, le chiffrement, l'intelligence artificielle, les structures de donn&#233;es etc.), puis je vous d&#233;cris son fonctionnement, et enfin j&#8217;impl&#233;mente cet algorithme dans un langage de programmation (en g&#233;n&#233;ral en C, voir en C++, mais un pseudo-code est toujours fournit avec).</li>
<li><strong>La programmation</strong> : Je vous pr&#233;sente des concepts que je trouve utile &#224; conna&#238;tre en programmation, ou des sites que je trouve int&#233;ressants.</li>
<li><strong>Des livres</strong> : Je vous d&#233;cris et je vous donne mon avis sur des livres &#224; propos d'informatique concernant la programmation, les algorithmes et d'autres concepts.</li>
<li><strong>Mes projets</strong> : Bien s&#251;r je vous montre mes projets personnels !</li>
</ul>
<h2 id="comment-me-contacter">Comment me contacter ?</h2>
<p>Si vous souhaitez me contacter, vous pouvez m'envoyer un mail &#224; itechwordpress@gmail.com.</p>
<h2 id="sites-des-copains">Sites des copains</h2>
<ul>
<li>Le_BuG63 : http://lebug63.github.io/</li>
<li>Piticroissant : http://piticroissant.github.io/</li>
<li>DevSk0re : http://fr.devsk0re.com/</li>
<li><span class="citation">@che</span> : http://ache.nyan.at/</li>
<li>Quentin : http://www.quent1.fr/</li>
</ul>
<p>Bonne visite !<br />
NapNac</p>
 
      <!-- ------------ -->

      <footer>
         </br>
         <p style="text-align: center;"><a href="https://sous-surveillance.fr"><img style="border: 0;" 
         src="https://wiki.laquadrature.net/images/5/54/Pjl_rens_banner.png" alt="Non à la loi renseignement" 
         title="Non à la loi renseignement" /></a></p>
      </footer>
   </body>
</html>
