<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" href="../../static/css/layout.css" />
      <meta charset="utf-8" />
      <title>Articles - NapNac</title>
   </head>

   <body>
      <header>
         <a href="Accueil.html">
            <img src="../../static/img/logo.png" alt="Logo du site">
         </a>

      </header>
      
      <nav>
         <ul id="main_menu">
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Articles</a></li>
            <li><a href="#">Projets</a></li>
            <li><a href="#">Livres</a></li>
            <li><a href="#">A propos</a></li>
         </ul>
      </nav>

      <!-- Page/Article -->

<h1 id="articles">Articles</h1>
<p>Liste articles :</p>
 
      <!-- ------------ -->

      <footer>
         <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>   Thibault
      </footer>
   </body>
</html>
