<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" href="../../static/css/layout.css" />
      <link rel="stylesheed" href="https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" type="text/css" />
      <meta charset="utf-8" />
      <title>Projets - NapNac</title>
   </head>

   <body>
      <header>
         <a href="Accueil.html">
            <img src="../../static/img/logo.png" alt="Logo du site">
         </a>

      </header>
      
      <nav>
         <ul id="main_menu">
            <li><a href="Accueil.html">Accueil</a></li>
            <li><a href="Articles.html">Articles</a></li>
            <li><a href="Projets.html">Projets</a></li>
            <li><a href="Livres.html">Livres</a></li>
            <li><a href="A_propos.html">A propos</a></li>
         </ul>
      </nav>

      <!-- Page/Article -->

<h1 id="projets">Projets</h1>
<p>Liste de mes diff&#233;rents projets personnels :</p>
<ul>
<li>Projet 1 : description</li>
<li>Projet 2 : description</li>
<li>...</li>
</ul>
 
      <!-- ------------ -->

      <footer>
         </br>
         <p style="text-align: center;"><a href="https://sous-surveillance.fr"><img style="border: 0;" 
         src="https://wiki.laquadrature.net/images/5/54/Pjl_rens_banner.png" alt="Non à la loi renseignement" 
         title="Non à la loi renseignement" /></a></p>
      </footer>
   </body>
</html>
