{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/article.css">
{% endblock %}

{% block header %}
    <nav>
        <ul>
            <li><a href="/">Thibault Allançon</a></li>
            {% if not metadata['toplevel'] %}
            <li><a href="/articles.html">Articles</a></li>
            {% endif %}
        </ul>
    </nav>

    <h1><a href="">{{ metadata['title'] }}</a></h1>
    {% if metadata['published'] and metadata['modified'] %}
        <p class="metadata">Publié : {{ metadata['published'] }} · Modifié : {{ metadata['modified'] }}</p>
        <hr>
    {% endif %}
{% endblock %}

{% block before_content %}
    {% if toc %}
        <h4>Table des matières</h4>
        {{ toc }}
    {% endif %}
{% endblock %}
