{% extends "default.html" %}

{% block content %}

<a href=""><h1 id="projets">Projets</h1></a>

<p>Liste de mes différents projets personnels ou autre que vous pouvez retrouver sur mon Github : <a href="https://github.com/napnac">https://github.com/napnac</a> :</p>

<ul>
   <li><strong>04/2016</strong> - <a href="https://github.com/napnac/trologin">trologin</a> : différents scripts utilisés pour troller lors des finales de <a href="https://prologin.org/">Prologin</a>.</li>
   <li><strong>03/2016</strong> - <a href="https://github.com/napnac/mlai">mlai</a> : implémentation basique de différents algorithmes de machine learning.</li>
   <li><strong>03/2016</strong> - <a href="https://github.com/napnac/lispy">lispy</a> : langage de programmation minimaliste inspiré de Lisp et écrit en C.</li>
   <li><strong>01/2016</strong> - <a href="https://github.com/napnac/zds-prog">zds-prog</a> : plusieurs codes sources venant des forums de <a href="https://zestedesavoir.com/">Zeste de Savoir</a> (défi, atelier, etc.).</li>
   <li><strong>01/2016</strong> - <a href="https://github.com/napnac/pornote">pornote</a> : un site web parodique de Pronote, pour échanger les devoirs entre les classes.</li>
   <li><strong>10/2015</strong> - <a href="https://github.com/napnac/napnac.ga">napnac.ga</a> : mon site personnel où je poste mes différents articles.</li>
   <li><strong>08/2015</strong> - <a href="https://github.com/napnac/Dotfiles">dotfiles</a> : tous mes fichiers de configuration pour mon ordinateur sous <a href="http://archlinux.org/">Archlinux</a>.</li>
   <li><strong>02/2014</strong> - <a href="https://github.com/napnac/NandToTetris">NandToTetris</a> : un ordinateur émulé accompagné d'un compilateur et d'un mini-OS.</li>
   <li><strong>10/2013</strong> - <a href="https://github.com/napnac/Rhyddid">Rhyddid</a> : rogue-like construit entièrement en console.</li>
   <li><strong>06/2013</strong> - <a href="https://github.com/napnac/ASCII-Funfair">ASCII Funfair</a> : programme regroupant différents jeux connus, en solo et en multijoueur.</li>
   <li><strong>04/2013</strong> - <a href="https://github.com/napnac/Pseudo-C">Pseudo-C</a> : traducteur et interpréteur de pseudo-code en langage C.</li>
</ul>

<p>Ainsi que mes contributions à des projets open source, comme :</p>

<ul>
   <li><a href="https://github.com/adambard/learnxinyminutes-docs">learnxinyminutes</a> : rapide découverte d'un langage de programmation, le tout écrit entièrement dans la syntaxe de ce dernier.</li>
   <li><a href="https://github.com/LeBuG63/GalaxY">GalaxY</a> : jeu d'aventure et d'exploration spatiale en console.</li>
   <li><a href="https://github.com/open-source-society/computer-science">computer-science</a> : éducation gratuite et autonome dans le domaine de l'informatique.</li>
</ul>

{% endblock content %}
