<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" href="../../static/css/layout.css" />
      <link rel="stylesheed" href="https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" type="text/css" />
      <meta charset="utf-8" />
      <title>TITLE</title>
   </head>

   <body>
      <header>
         <a href="Accueil.html">
            <img src="../../static/img/logo.png" alt="Logo du site">
         </a>

      </header>
      
      <nav>
         <ul id="main_menu">
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Articles</a></li>
            <li><a href="#">Projets</a></li>
            <li><a href="#">Livres</a></li>
            <li><a href="#">A propos</a></li>
         </ul>
      </nav>

      <!-- Page/Article -->

