/* Custom font Roboto */
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
   background-color: #fafafa;
   font-family: "Roboto", "Helvetica", "Arial", sans-serif;
   line-height: 1.5;
}

#page {
   background-color: #ffffff;
   margin: 0 auto;
   max-width: 50em;
   padding: 2em 5em;
}

/* ---- Header ---- */

#menu {
   text-align: left;
   list-style: none;
}

#menu li {
   display: inline;
   list-style-type: none;
}

#menu li img {
   vertical-align: middle;
}

#menu li a {
   padding: 0 1.5em;
}

#menu li a:hover, #menu li a:active {
   text-decoration: underline;
}

/* ---- Titles ---- */

h1 {
   text-align: center;
   color: #de4834;
   margin-top: 0em;
   padding-top: 1em;
   padding-bottom: 0.5em;
}

h2 {
   color: #de4834;
   margin-top: 1em;
   padding-top: 1em;
}

h3, h4, h5, h6 {
   color: #de4834;
   margin-top: 0.5em;
   padding-top: 0.5em;
}

/* ---- Links ---- */

a {
   text-decoration: none;
   color: #2e64fe;
}

/* ---- List ---- */

ul {
   padding-left: 2em;
}

/* ---- Tables (same look as from github markdown layout) ---- */

table {
   overflow: auto;
   word-break: normal;
   word-break: keep-all;
   border-collapse: collapse;
   border-spacing: 0;
   margin-top: 2em;
   margin-bottom: 2em;
   margin-left: auto;
   margin-right: auto;
}

table th {
   font-weight: bold;
}

table th,
table td {
   padding: 6px 13px;
   border: 1px solid #ddd;
}

table tr {
   background-color: #fff;
   border-top: 1px solid #ccc;
}

table tr:nth-child(2n) {
   background-color: #f8f8f8;
}

/* ---- Images and captions ---- */

figure {
   text-align: center;
   margin-top: 2em;
}

figure img {
   max-width: 100%;
   height: auto;
   width: auto\9;    /* Internet Explorer 8 */
}

figcaption {
   margin-top: 1.5em;
   margin-bottom: 2em;
   font-style: italic;
}

/* ---- Code ---- */

code,
pre {
   background: #f5f7f9;
   color: #323337;
}

code {
   padding: 2px 4px;
   vertical-align: text-bottom;
}

pre {
   padding: 1em;
   border-left: 2px solid #69c;
   white-space: pre-wrap;       /* Since CSS 2.1 */
   white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
   white-space: -pre-wrap;      /* Opera 4-6 */
   white-space: -o-pre-wrap;    /* Opera 7 */
   word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.nohighlight {
   padding-left: 0px;      /* Remove auto padding from highlight.js */
}

/* ---- Blockquotes ---- */

blockquote {
   background: #f5f7f9;
   padding: 0.1em 1em;
   border-left: 2px solid #69c;
}
