/* Custom font Roboto */
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
   background-color: #ffffff;
   font-family: "Roboto", "Helvetica", "Arial", sans-serif;
   line-height: 1.5;
   margin: 0 auto;
   max-width: 65%;
   padding: 3em 5em;
}

/* ---- Sidebar ---- */

#sidebar {
   width: 25%;
   float: left;
}

#sidebar hr {
   margin-top: 1.5em;
   margin-bottom: 1.5em;
   width: 50%;
}

#menu, #info {
   padding-top: 0.5em;
}

#menu li, #info li {
   list-style-type: none;
}

#menu ul, #info ul {
   padding: 0;
}

.toc ul {
   padding-left: 1em;
}

/* ---- Content ---- */

#content {
   margin-left: 25%;
}

/* ---- Titles ---- */

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
   color: #de4834;
}

h1 {
   text-align: center;
   margin-top: 0em;
   padding-top: 1em;
   padding-bottom: 0.5em;
}

h2 {
   margin-top: 1em;
   padding-top: 1em;
}

h3, h4, h5, h6 {
   margin-top: 0.5em;
   padding-top: 0.5em;
}

/* ---- Links ---- */

a {
   text-decoration: none;
   color: #2e64fe;
}

a:hover, a:active {
   text-decoration: underline;
}

/* ---- List ---- */

ul {
   padding-left: 2em;
}

/* ---- Tables (same look as from github markdown layout) ---- */

table {
   overflow: auto;
   word-break: normal;
   word-break: keep-all;
   border-collapse: collapse;
   border-spacing: 0;
   margin-top: 2em;
   margin-bottom: 2em;
   margin-left: auto;
   margin-right: auto;
}

table th {
   font-weight: bold;
}

table th, table td {
   padding: 6px 13px;
   border: 1px solid #ddd;
}

table tr {
   background-color: #fff;
   border-top: 1px solid #ccc;
}

table tr:nth-child(2n) {
   background-color: #f8f8f8;
}

/* ---- Images and captions ---- */

figure {
   text-align: center;
   margin-top: 2em;
}

figure img {
   max-width: 100%;
   height: auto;
   width: auto\9;    /* Internet Explorer 8 */
}

figcaption {
   margin-top: 1.5em;
   margin-bottom: 2em;
   font-style: italic;
}

/* ---- Font Awesome icons ---- */

i {
   margin-right: 0.2em;
}

.fa {
   color: #555555;
}

/* ---- Code ---- */

code, pre {
   background: #f5f7f9;
   color: #323337;
}

code {
   padding: 2px 4px;
   vertical-align: text-bottom;
}

pre {
   padding: 1em;
   border-left: 2px solid #69c;
   white-space: pre-wrap;       /* Since CSS 2.1 */
   white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
   white-space: -pre-wrap;      /* Opera 4-6 */
   white-space: -o-pre-wrap;    /* Opera 7 */
   word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.nohighlight {
   padding-left: 0px;      /* Remove auto padding from highlight.js */
}

/* ---- Blockquotes ---- */

blockquote {
   background: #f5f7f9;
   padding: 0.1em 1em;
   border-left: 2px solid #69c;
}
