/* Custom font Roboto */
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
   margin: 0 auto;
   max-width: 50em;
   font-family: "Roboto", "Helvetica", "Arial", sans-serif;
   line-height: 1.5;
   padding: 4em 1em;
}

/* ---- Titles ---- */

h1 {
   text-align: center;
   color: #DE4834;
   margin-top: 1.5em;
   padding-top: 1.5em;
   padding-bottom: 1em;
}

h2 {
   color: #DE4834;
   margin-top: 1em;
   padding-top: 1em;
}

h3, h4, h5, h6 {
   color: #DE4834;
   margin-top: 0.5em;
   padding-top: 0.5em;
}

/* ---- Link ---- */

a {
   text-decoration: none;
   color: #2E64FE;
}

/* ---- List (+ main menu list) ---- */

ul {
   padding-left: 30px;
}

#main_menu {
   list-style: none;
   margin: 0;
   padding: 0;
   text-align: center;
}
#main_menu li {
   display: inline;
   margin-right: 1px;
}
#main_menu li a {
   line-height: 1em;
   padding: 4px 20px;
   text-align: center;
}
#main_menu li a:hover, #main_menu li a:active {
   text-decoration: underline;
}

/* ---- Tables (same look as from github markdown layout) ---- */

table {
   overflow: auto;
   word-break: normal;
   word-break: keep-all;
   border-collapse: collapse;
   border-spacing: 0;
   margin-top: 2em;
   margin-bottom: 2em;
   margin-left: auto;
   margin-right: auto;
}

table th {
   font-weight: bold;
}

table th,
table td {
   padding: 6px 13px;
   border: 1px solid #ddd;
}

table tr {
   background-color: #fff;
   border-top: 1px solid #ccc;
}

table tr:nth-child(2n) {
   background-color: #f8f8f8;
}

/* ---- Image and caption ---- */

figure {
   text-align: center;
   margin-top: 2em;
}

figure img {
   max-width: 100%;
   height: auto;
   width: auto\9;    /* Internet Explorer 8 */
}

figcaption {
   margin-top: 1.5em;
   margin-bottom: 2em;
   font-style: italic;
}

/* ---- Code ---- */

code,
pre {
   background: #f5f7f9;
   color: #323337;
}

code {
   padding: 2px 4px;
   vertical-align: text-bottom;
}

pre {
   padding: 1em;
   border-left: 2px solid #69c;
   white-space: pre-wrap;       /* Since CSS 2.1 */
   white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
   white-space: -pre-wrap;      /* Opera 4-6 */
   white-space: -o-pre-wrap;    /* Opera 7 */
   word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.nohighlight {
   padding-left: 0px;      /* Remove auto padding from highlight.js */
}
