/* Custom font */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Bitter');

body {
   background-color: #ffffff;

   font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
   line-height: 1.5;

   margin: 0 auto;
   max-width: 45%;
   margin-bottom: 4em;
}

/* ---- Titles ---- */

h1, h2 {
   font-family: "Bitter";
}

/* ---- Links ---- */

a {
   text-decoration: none;
   color: #ad280b;
}

a:hover, a:active {
   text-decoration: underline;
}

/* ---- Page Info ---- */

nav {
   text-align: left;
   font-family: "Bitter";
   font-size: 0.85em;
}

nav ul {
   padding: 0;
}

nav li {
   list-style: none;
   display: inline-block;
}

nav li a {
   color: black;
}

nav li:not(:first-child):before {
   content: " · ";
}
