<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" href="/static/css/layout.css" />
      <link rel="stylesheed" href="https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" type="text/css" />
      <meta charset="utf-8" />
      <title>TITLE</title>
   </head>

   <body>
      <header>
         <a href="accueil.html">
            <img src="/static/img/logo.png" alt="Logo du site">
         </a>

      </header>
      
      <nav>
         <ul id="main_menu">
            <li><a href="accueil.html">Accueil</a></li>
            <li><a href="articles.html">Articles</a></li>
            <li><a href="projets.html">Projets</a></li>
            <li><a href="a_propos.html">A propos</a></li>
         </ul>
      </nav>

      <!-- Page/Article -->

